p{
    display: flex;
    justify-content: center;
    font-size: 20px;
    
}
#color1 {
  width: 200px;
  height: 200px;
  background-color: blue;
}
#color2 {
  width: 200px;
  height: 200px;
  background-color: red;
}
#color3 {
  width: 200px;
  height: 200px;
  background-color: green;
}
#color4 {
  width: 200px;
  height: 200px;
  background-color: yellow;
}

#colors-section {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.key-container {
  display: flex;
  justify-content: space-evenly;

  margin-top: 100px;
  min-width: 100vh;
}
#key {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}
#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
